# Mapbox Configuration
REACT_APP_MAPBOX_API_KEY=your_mapbox_api_key

# Backend API URL
# Example: http://localhost:8080
REACT_APP_SHOWHOUSE_API_URL=http://localhost:8080

# Application URLs
# Example: http://localhost:3000
REACT_APP_SHOWHOUSE_URL=http://localhost:3000
REACT_APP_SHOWHOUSE_URL_DEV=http://localhost:3000
